footer.page-footer {
    margin-top: 20px;
    padding-top: 20px;
    background-color: #ee6e73;
}
.indigo {
    background-color: #424242 !important;
}
header, main, footer {
    padding-left: 240px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
*, *:before, *:after {
    box-sizing: inherit;
}

footer {
    display: block;
}
