* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.menu {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
    background-color: #333333;
    margin-top: auto;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    left: auto;
    width: 300px;
    margin: auto;
}

#menu > div {
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
}


div.button{
    border-radius:50px;
    width:100px;
    height:100px;
    color:#FFFFFF;
    background:#FF7733;
    cursor:pointer;
    line-height:100px;
    text-align:center;
}
div.button:hover{
    background:#FF5500;
}
