<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Description</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/hotelView.css">
</head>
<body>
<div class="page">
    <div th:insert="header::copy"></div>
    <form th:method="POST" th:action="@{/hotels/{id}(id=${hotel.getId()})}" th:object="${hotel}">
        <table class="table">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
            </tr>

            <tbody>
            <tr>
                <td th:text="${hotel.getTitle()}">VALUE</td>
                <td th:text="${hotel.getDescription()}">VALUE</td>
                <td th:text="${hotel.getPrice()}">VALUE</td>
            </tr>
            </tbody>
        </table>
        <div th:if="${message}" th:text="${message}">message</div>
        <input type="submit" value="Booking"/>
    </form>
    <footer th:insert="footer::copy">Header</footer>
</div>
</body>
</html>