<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Administration</title>
    <link type="text/css" rel="stylesheet" href="../resources/css/menu.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="../resources/js/menu.js"></script>

</head>

<body>
    <ul id="accordion" class="accordion">
        <li>
            <div class="link" th:text="#{manage.text}"><i class="fa fa-database"></i><i class="fa fa-chevron-down" ></i></div>
            <ul class="submenu">
                <li><a href="../hotels/catalog" th:text="#{catalog.text}">catalog</a></li>
                <li><a href="/administrator/users" th:text="#{users.text}">users</a></li>
                <li><a href="/administrator/orders" th:text="#{orders.text}">orders</a></li>
            </ul>
        </li>
        <li>
            <div class="link" th:text="#{stat.text}"><i class="fa fa-code"></i>Stats<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
                <li><a href="/setting">Settings</a></li>
                <li><a href="#">Val</a></li>
                <li><a href="#">Val</a></li>
            </ul>
        </li>
        <li>
            <div class="link" th:text="#{log.text}"><i class="fa fa-mobile"></i>logs<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
                <li><a href="#">Val</a></li>
                <li><a href="#">Val</a></li>
                <li><a href="#">Val</a></li>
            </ul>
        </li>
        <li>
            <div class="link" th:text="#{global.text}"><i class="fa fa-globe" ></i>Global<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
                <li><a href="/administrator/sellers" th:text="#{seller.text}">Seller</a></li>
                <li><a href="#">Val</a></li>
                <li><a href="#">Val</a></li>
            </ul>
        </li>
    </ul>



</body>
</html>