<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <link rel="stylesheet" href="/resources/css/403.css" media="screen">
  <title>Oops</title>
  <meta charset="UTF-8">
</head>

<body>

<div class="scene">
  <div class="overlay"></div>
  <div class="overlay"></div>
  <div class="overlay"></div>
  <div class="overlay"></div>
  <span class="bg-403">403</span>
  <div class="text">
    <span class="hero-text"></span>
    <span class="msg">can't let <span>you</span> in.</span>
    <span class="support">
      <span>unexpected?</span>
      <a href="/contact">contact support</a>
    </span>
  </div>
  <div class="lock"></div>
</div>

</body>
</html>
