<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/invoice.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/responsive.css"/>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/resources/js/invoice.js"></script>

</head>
<body>
<div id="invoice">
    <div class="toolbar hidden-print">
        <div class="text-right">
            <form method="post" th:action="@{/users/download-pdf}">
            <button type="submit" class="btn btn-info">Download PDF Document</button>
                <input type="hidden" name="invoiceId" th:value="${invoice.getId()}"/>
            </form>
        </div>
    </div>
    <div class="invoice overflow-auto">
        <div style="min-width: 600px">
            <header>
                <div class="row">
                    <div class="col">
                        <a target="_blank" href="https://lobianijs.com">
                            <img src="/resources/img/up.png"
                                 data-holder-rendered="true" style="height: 108px; width: 300px;"/>
                        </a>
                    </div>
                    <div class="col company-details">
                        </h2>
                        <div th:text="${invoice.getSeller().getAddress()}">455 Foggy Heights, AZ 85004, US</div>
                        <div th:text="${invoice.getSeller().getBankAccount()}"></div>
                    </div>
                </div>
            </header>
            <main>
                <div class="row contacts">
                    <div class="col invoice-to">
                        <div class="text-gray-light">INVOICE TO:</div>
                        <h2 class="to" th:text="${invoice.getUser.getUserFirstname()} + ' ' + ${invoice.getUser().getUserLastname()}">John Doe</h2>
                        <div class="address" th:text="${invoice.getUser().getAddress()}">796 Silver Harbour, TX 79273, US</div>
                        <div class="email" th:text="${invoice.getUser().getEmail()}"><a></a></div>
                    </div>
                    <div class="col invoice-details">
                        <h1 class="invoice-id"><div th:text="INVOICE + ' №' +' '+ ${invoice.getId()}"></div></h1>
                        <div class="date" >
                            Date of Invoice:
                            <div th:text="${invoice.getCreatingDate()}"></div>
                        </div>
                        <div class="date">Due Date: 30/10/2018</div>
                    </div>
                </div>
                <table border="0" cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th class="text-left">DESCRIPTION</th>
                        <th class="text-right">PRICE PER DAY</th>
                        <th class="text-right">QUANTITY</th>
                        <th class="text-right">TOTAL</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="no" th:text="${invoice.getHotel().getId()}">01</td>
                        <td class="text-left"><h3>
                            <a target="_blank" th:text="${invoice.getHotel().getTitle()}">
                            </a>
                        </h3>
                            <div th:text="${invoice.getHotel().getDescription() + ', ' + invoice.getHotel().getNumberOfSeats() +' guests'} "> </div>
                        </td>
                        <td class="unit" th:text="${invoice.getHotel().getPrice()}">$0.00</td>
                        <td class="qty" th:text="${period}">0</td>
                        <div th:with="result=${invoice.getHotel().getPrice() * period}">
                            <td class="total" th:text="'$'+${result}">0.00</td>
                        </div>
                    </tr>
                    </tbody>
                     </table>
                <div class="notices">
                    <div>NOTICE:</div>
                    <div class="notice">
                        in case of non-payment, the invoice will be canceled and the reservation will be canceled</div>
                </div>
            </main>
            <footer>
                Invoice was created on a computer and is valid without the signature and seal.
            </footer>
        </div>

        <div></div>
    </div>
</div>
</body>
</html>