<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<div th:fragment="copy">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <p class="u-small-text u-text u-text-variant u-text-1">Product by <a
            href="https://www.linkedin.com/in/ivan-shkubel-aa974a207/"
            class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">ICreactive&nbsp;</a>
      <br>Especially for IT-Academy<br>2021
    </p>
  </div>
</div>