<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="copy">
    <div class="u-clearfix u-sheet u-sheet-1">
        <a href="/"><img src="/resources/img/up.png" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1" style="opacity: 1;">
            <div class="menu-collapse u-custom-font u-font-raleway"
                 style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
                <a class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-color u-custom-text-decoration u-custom-text-hover-color u-custom-text-shadow u-custom-text-shadow-blur u-custom-text-shadow-color u-custom-text-shadow-transparency u-custom-text-shadow-x u-custom-text-shadow-y u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                   href="#">
                    <svg>
                        <use xlink:href="#menu-hamburger"></use>
                    </svg>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs>
                            <symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;">
                                <rect y="1" width="16" height="2"></rect>
                                <rect y="7" width="16" height="2"></rect>
                                <rect y="13" width="16" height="2"></rect>
                            </symbol>
                        </defs>
                    </svg>
                </a>
            </div>
            <div class="u-custom-menu u-nav-container">
                <ul class="u-custom-font u-font-raleway u-nav u-spacing-20 u-unstyled u-nav-1">
                    <li sec:authorize="hasRole('ADMIN')" class="u-nav-item"><a href="/administrator"
                                                                               class="u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-palette-1-base u-text-black u-text-hover-grey-30"
                                                                               style="padding: 10px; text-shadow: 0px 2px 4px rgba(128,128,128,0.8);"
                                                                               th:text="#{adminPage.text}"></a>
                    </li>
                    <li class="u-nav-item"><a href="/home"
                                              class="u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-palette-1-base u-text-black u-text-hover-grey-30"
                                              style="padding: 10px; text-shadow: 0px 2px 4px rgba(128,128,128,0.8);"
                                              th:text="#{home.text}"></a>
                    </li>
                    <li class="u-nav-item"><a href="#"
                                              sec:authorize="isAuthenticated()"
                                              class="u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-palette-1-base u-text-black u-text-hover-grey-30"
                                              style="padding: 10px; text-shadow: 0px 2px 4px rgba(128,128,128,0.8);"
                                              th:text="#{orders.text}">My
                        orders</a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-palette-1-base u-text-black u-text-hover-grey-30"
                            href="/about"
                            style="padding: 10px; text-shadow: 0px 2px 4px rgba(128,128,128,0.8);"
                            th:text="#{about.text}">About</a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-palette-1-base u-text-black u-text-hover-grey-30"
                            href="/contact" style="padding: 10px; text-shadow: 0px 2px 4px rgba(128,128,128,0.8);"
                            th:text="#{contact.text}"></a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-palette-1-base u-text-black u-text-hover-grey-30"
                            sec:authorize="!isAuthenticated()"
                            style="padding: 10px; text-shadow: 0px 2px 4px rgba(128,128,128,0.8);"
                            th:text="#{login.text}"></a>
                        <div class="u-nav-popup">
                            <ul class="u-h-spacing-0 u-nav u-unstyled u-v-spacing-4 u-nav-2">
                                <li class="u-nav-item"><a href="/login"
                                                          class="u-button-style u-hover-palette-1-light-1 u-nav-link u-text-grey-75"
                                                          th:text="#{account.text}">-
                                </a>
                                </li>
                                <li class="u-nav-item"><a
                                        class="u-button-style u-hover-palette-1-light-1 u-nav-link u-text-grey-75"
                                        th:text="#{googl.text}" th:href="@{/oauth2/authorization/google}">-
                                    From Google</a>
                                </li>
                                <li class="u-nav-item"><a
                                        class="u-button-style u-hover-palette-1-light-1 u-nav-link u-text-grey-75"
                                        th:text="#{reg.text}">- Go
                                    to registration</a>
                                </li>
                            </ul>
                        </div>
                    <li class="u-nav-item">
                        <a class="u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-palette-1-base u-text-black u-text-hover-grey-30"
                           sec:authorize="isAuthenticated()"
                           style="padding: 10px; text-shadow: 0px 2px 4px rgba(128,128,128,0.8);"
                           th:text="#{logout.text}"
                           href="/logout">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="u-custom-menu u-nav-container-collapse">
        <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul sec:authorize="hasRole('ADMIN')" class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-3">
                    <li class="u-nav-item"><a href="/administrator" class="u-button-style u-nav-link"
                                              style="padding: 10px; text-shadow: 0px 2px 4px rgba(128,128,128,0.8);">Administrator</a>
                    </li>
                    <li class="u-nav-item"><a href="/home" class="u-button-style u-nav-link"
                                              style="padding: 10px; text-shadow: 0px 2px 4px rgba(128,128,128,0.8);">Home</a>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                              style="padding: 10px; text-shadow: 0px 2px 4px rgba(128,128,128,0.8);">My
                        orders</a>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/about"
                                              style="padding: 10px; text-shadow: 0px 2px 4px rgba(128,128,128,0.8);">About</a>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/contact"
                                              style="padding: 10px; text-shadow: 0px 2px 4px rgba(128,128,128,0.8);">Contact</a>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                              style="padding: 10px; text-shadow: 0px 2px 4px rgba(128,128,128,0.8);">Login</a>
                        <div class="u-nav-popup">
                            <ul class="u-h-spacing-0 u-nav u-unstyled u-v-spacing-4 u-nav-4">
                                <li class="u-nav-item"><a class="u-button-style u-nav-link">- I have account</a>
                                </li>
                                <li class="u-nav-item"><a class="u-button-style u-nav-link">- From Google</a>
                                </li>
                                <li class="u-nav-item"><a class="u-button-style u-nav-link">- Go to registration</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
    </div>
</div>
</body>
</html>