<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="copy">
  <section class="hero">
    <header>
      <div class="wrapper">
        <nav>
          <ul>
            <div sec:authorize="hasRole('ADMIN')">
              <li><a href="/administrator" th:text="#{adminPage.text}"></a></li>
            </div>
            <li><a href="/" th:text="#{home.text}"></a></li>
            <li><a href="/hotels/catalog" th:text="#{catalog.text}"></a></li>
            <li><a href="/info/about" th:text="#{about.text}"></a></li>
            <li><a href="/info/contacts" th:text="#{contact.text}"></a></li>
            <li>
              <div sec:authorize="isAuthenticated()">
                <a href="/logout" class="login_btn" th:text="#{logout.text}"></a>
              </div>
            </li>
            <li>
              <div sec:authorize="!isAuthenticated()">
                <a href="/login" class="login_btn" th:text="#{login.text}"></a>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </header>
  </section>
</div>

</body>
</html>