<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="copy">
  <section class="hero">
    <header>
      <div class="wrapper">
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <div sec:authorize="hasRole('ADMIN')">
              <li><a href="/users/administrator">Администраторская</a></li>
            </div>

            <li><a href="/hotels/catalog">Catalog</a></li>
            <li><a href="/info/about">About</a></li>
            <li><a href="/info/contacts">Contact</a></li>
            <li>
              <div sec:authorize="isAuthenticated()">
                <a href="/logout" class="login_btn">Logout</a>
              </div>
            </li>
            <li>
              <div sec:authorize="!isAuthenticated()">
                <a href="/login" class="login_btn">Login</a>
              </div>
            </li>

          </ul>
        </nav>
      </div>
    </header>
  </section>
</div>

</body>
</html>