<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <link rel="stylesheet" type="text/css" href="/resources/css/login.css">
  <title th:text="#{login.title}"></title>
  <meta charset="UTF-8">
</head>
<body>
<div class="container">
  <img src="https://dwstroy.ru/lessons/les3373/demo/img/men.png">
  <div th:if="${message}" th:text="${message}" style="color: #4CAF50">
  </div>
<div th:if="${param.error}" th:text="#{login.error}">
</div>
<div th:if="${param.logout}" style="color: red; font-family:Arial,serif" th:text="#{login.logout}">
</div>
<form th:action="@{/login}" method="post">
  <div class="dws-input">
    <input type="text" name="username" th:placeholder="#{login.input}">
  </div>
  <div class="dws-input">
    <input type="password" name="password" th:placeholder="#{password.input}">
  </div>
  <input class="dws-submit" type="submit" name="submit" th:value="#{login.text}"><br />
  <a href="/forgot_password" th:text="#{forgot.input}">Восстановить пароль</a>
  <a href="/users/new" th:text="#{reg.button}">Registration</a>
</form>
</div>
</body>
</html>
